<!DOCTYPE html>
<html lang="es">
<head>
  <style>
    .stroke {
      text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    }
  </style>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Favicon - FIS -->
  <link rel="shortcut icon" href="img/logo.png">
  <link rel="stylesheet" href="css/article.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <title>CitiChrysler</title>

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">
      <img src="img/logo.png" alt="" width="70" class="d-inline-block align-text-top">
      CitiChrysler
    </a>
    <form style="color: #fff">
      <a href="crear_cuenta.html" class="btn btn-secondary" style="margin-left: 10px;">Atras</a>
    </form>
  </div>
</nav>

<!-- Políticas de Privacidad -->
<section class="container my-5">
    <h2 class="text-center mb-4">Políticas de Privacidad</h2>
    <p style="text-align: justify;">
      CitiChrysler se compromete a proteger la privacidad de sus usuarios y clientes. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que usted proporciona en nuestro sistema de gestión de citas.
    </p>
    <p style="text-align: justify;">
      <strong>1. Recopilación de Información</strong><br>
      Recopilamos información personal cuando usted interactúa con nuestro sistema, ya sea al registrarse como cliente, solicitar una cita o utilizar cualquiera de nuestras funcionalidades. Esta información puede incluir, entre otros, su nombre, dirección de correo electrónico, número de teléfono y detalles de la cita solicitada.
    </p>
    <p style="text-align: justify;">
      <strong>2. Uso de la Información</strong><br>
      La información personal recopilada se utiliza para gestionar eficientemente las citas entre clientes y vendedores. Además, podemos utilizar su información para:<br>
      - Mejorar nuestros servicios y funcionalidades.<br>
      - Personalizar su experiencia dentro del sistema.<br>
      - Comunicarnos con usted sobre su cita y otros servicios relacionados.<br>
      - Cumplir con requisitos legales y reglamentarios.
    </p>
    <p style="text-align: justify;">
      <strong>3. Protección de la Información</strong><br>
      Nos comprometemos a proteger la seguridad de su información personal. Utilizamos medidas de seguridad técnicas, administrativas y físicas para proteger sus datos contra accesos no autorizados, divulgación o alteración.
    </p>
    <p style="text-align: justify;">
      <strong>4. Compartir Información</strong><br>
      No compartiremos su información personal con terceros, excepto en las siguientes circunstancias:<br>
      - Cuando sea necesario para cumplir con la ley, una orden judicial o proceso legal.<br>
      - Cuando sea necesario para proteger nuestros derechos, propiedad o seguridad, o los de otros usuarios.<br>
      - Cuando sea necesario para investigar, prevenir o tomar medidas con respecto a actividades ilegales, sospechas de fraude, situaciones que impliquen posibles amenazas a la seguridad física de cualquier persona, o violaciones de nuestros términos de servicio.
    </p>
    <p style="text-align: justify;">
      <strong>5. Acceso y Control de la Información</strong><br>
      Usted tiene derecho a acceder, corregir, actualizar o eliminar su información personal en cualquier momento. Puede hacerlo iniciando sesión en su cuenta o contactándonos directamente.
    </p>
    <p style="text-align: justify;">
      <strong>6. Cambios en la Política de Privacidad</strong><br>
      Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le notificaremos sobre cambios significativos en la forma en que tratamos la información personal enviando un aviso a la dirección de correo electrónico principal especificada en su cuenta.
    </p>
    <p style="text-align: justify;">
      <strong>7. Contacto</strong><br>
      Si tiene alguna pregunta sobre esta Política de Privacidad o sobre cómo tratamos su información personal, no dude en ponerse en contacto con nosotros a través de los medios proporcionados en nuestro sistema.
    </p>
  </section>
  <!-- Fin de Políticas de Privacidad -->

<!-- Footer -->
<footer class="footer bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4><i class="fa fa-location-dot"></i> Locación</h4>
        <p class="fs-5 fw-light">AV CUAUHTEMOC, 647,</p>
        <p>MARROQUIN, ACAPULCO DE JUAREZ, GRO, C.P. 39640</p>
      </div>
      <div class="col-md-4">
        <h4><i class="fa fa-volume-control-phone"></i> Teléfono</h4>
        <p class="fs-5 fw-light">744-485-5519</p>
      </div>
      <div class="col-md-4">
        <h4><i class="fa fa-envelope"></i> Correo</h4>
        <p class="fs-5 fw-light">distribuidora-acapulco@dchrysler.com.mx</p>
      </div>
    </div>
    <hr class="bg-gold">
    <div class="row">
      <div class="col-md-4">
        <h3>Acerca de Nosotros</h3>
        <p class="fw-light">Esperamos que tu experiencia con nosotros sea la más agradable.</p>
        <p class="fw-light">Bienvenidos.</p>
      </div>
      <div class="col-md-4">
        <h3>Horario de Atención</h3>
        <p><span class="text-color">Domingo:</span> 8:00 AM - 4:00 PM</p>
        <p><span class="text-color">Lunes-Viernes:</span> 8:00 AM - 7:00 PM</p>
        <p><span class="text-color">Sábado:</span> 8:00 AM - 2:00 PM</p>
      </div>
      <div class="col-md-4">
        <h3>Contactenos</h3>
        <a href="#" class="text-decoration-none fs-4 fw-light" id="link3" style="color: #efb810;"><i class="fa-brands fa-instagram fa-lg" aria-hidden="true"></i> Distribuidora de Acapulco</a>
      </div>
    </div>
  </div>
  <p class="p-2 text-center text-muted">&copy; 2024 Derechos Reservados</p>
</footer>
<!-- Fin del Footer -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
