<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas de vendedor</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/bg.css">
    <script src="https://kit.fontawesome.com/e07784388c.js" crossorigin="anonymous"></script>
    <!-- Incluir jsPDF desde un CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js" defer></script>
    <style>
        /* Define el tamaño máximo para todas las imágenes */
        .custom-img {
            max-width: 200px; /* Ajusta el valor según el tamaño máximo deseado */
            height: auto; /* Mantiene la proporción de aspecto */
            display: block; /* Permite la alineación vertical */
            margin: 0 auto; /* Centra horizontalmente */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="index.html">
                <img src="../img/logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
                CitiChrysler  
            </a>
            <a href="registro_vendedor.html" id="empresa" class="btn text-light text-opacity-50 fs-5 ">Registrar Vendedores<i class="fa-solid fa-briefcase"></i></a>
            <a href="consulta_vendedores.html" id="competencia" class="btn text-light text-opacity-50 fs-5 ">Consulta Vendedores<i class="fa-solid fa-clipboard-list"></i></a>
            <a href="mis_datos.html" id="competencia" class="btn text-light text-opacity-50 fs-5 ">Mis Datos<i class="fa-solid fa-clipboard-list"></i></a>
            <a href="#" id="empleados" class="btn text-light text-opacity-50 fs-5 ">Cerrar sesión<i class="fa-solid fa-person-walking-luggage"></i></a>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Citas asignadas del vendedor        <button class="btn btn-danger" id="generatePDFButton"><i class="fas fa-file-pdf"></i> Generar reporte</button>
        </h2>
        
        
        <!-- Agregar el filtro de búsqueda por prioridad -->
        <div class="mb-3 filter-container">
            <label for="filtroPrioridad" class="form-label">Buscar citas por Prioridad:</label>
            <select class="form-select" id="filtroPrioridad" onchange="filtrarCitas()">
                <option value="">Todos</option>
                <option value="Alta">Alta</option>
                <option value="Media">Media</option>
                <option value="Baja">Baja</option>
            </select>
        </div>
        <!-- Fin del filtro de búsqueda por prioridad -->

        <div id="citasContainer" class="row">
            <!-- Aquí se cargarán las citas -->
        </div>
    </div>
    <script>
        // Obtener el ID del vendedor de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const vendedorId = urlParams.get('id');
    
        // Verificar si vendedorId es null o undefined antes de hacer la solicitud
        if (vendedorId) {
            // Hacer una solicitud al servidor para obtener las citas del vendedor con el ID especificado
            fetch(`/consultar_citas_por_vendedor?id=${vendedorId}`)
                .then(response => response.json())
                .then(data => {
                    // Iterar sobre los datos y crear elementos HTML para cada cita
                    data.forEach(cita => {
                        const citaCard = document.createElement('div');
                        citaCard.classList.add('card', 'col-sm-4', 'm-2', 'p-1');
                        citaCard.innerHTML = `
                            <div class="card-body">
                                <h5 class="card-title">${cita.Nombre_Usuario}</h5>
                                <p class="card-text"><b>Asunto:</b> ${cita.Asunto}</p>
                                <p class="card-text"><b>Prioridad:</b> ${cita.Pioridad_Cita}</p>
                                <p class="card-text"><b>Fecha de Cita:</b> ${cita.Fecha_Cita}</p>
                            </div>
                        `;
    
                        document.getElementById('citasContainer').appendChild(citaCard);
                    });
                })
                .catch(error => {
                    console.error('Error al obtener datos de citas:', error);
                });
        } else {
            console.error('ID de vendedor no encontrado en la URL');
        }

        // Función para filtrar citas por prioridad
        function filtrarCitas() {
            const filtroPrioridad = document.getElementById('filtroPrioridad').value;
            const citas = document.getElementById('citasContainer').querySelectorAll('.card');
            
            citas.forEach(cita => {
                const prioridadCita = cita.querySelector('.card-text:nth-child(3)').innerText.split(':')[1].trim();
                
                if (filtroPrioridad === '' || prioridadCita === filtroPrioridad) {
                    cita.style.display = 'block';
                } else {
                    cita.style.display = 'none';
                }
            });
        }

        document.getElementById('generatePDFButton').addEventListener('click', function() {
            console.log("Botón Generar reporte clickeado");
            generarReportePDF();
        });

        function generarReportePDF() {
            const citas = document.querySelectorAll('.card');
            const doc = new jsPDF();

            let yPos = 10;

            citas.forEach((cita, index) => {
                const nombreUsuario = cita.querySelector('.card-title').textContent;
                const asunto = cita.querySelector('.card-text:nth-child(2)').textContent;
                const prioridad = cita.querySelector('.card-text:nth-child(3)').textContent;
                const fechaCita = cita.querySelector('.card-text:nth-child(4)').textContent;

                doc.text(`Cita ${index + 1}`, 10, yPos);
                doc.text(`Nombre Usuario: ${nombreUsuario}`, 10, yPos + 10);
                doc.text(`Asunto: ${asunto}`, 10, yPos + 20);
                doc.text(`Prioridad: ${prioridad}`, 10, yPos + 30);
                doc.text(`Fecha de Cita: ${fechaCita}`, 10, yPos + 40);

                yPos += 50;

                if (yPos >= 280) {
                    doc.addPage(); // Agregar nueva página si se llega al final de la página actual
                    yPos = 10; // Reiniciar posición de Y en la nueva página
                }
            });

            // Descargar el PDF automáticamente
            doc.save('reporte_citas.pdf');
        }
    
        // Manejar el clic en el botón "Cerrar sesión"
        document.getElementById('empleados').addEventListener('click', function(event) {
            event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
            // Lógica para cerrar sesión
            fetch('/logout', {
                method: 'POST'
            })
            .then(response => {
                if (response.redirected) {
                    // Si la respuesta redirecciona, redirigir al usuario a la página principal
                    window.location.href = response.url;
                } else {
                    console.error('Error al cerrar sesión:', response.statusText);
                    // Manejar el error al cerrar sesión
                }
            })
            .catch(error => console.error('Error al cerrar sesión:', error));
        });
    </script>
</body>
</html>

