<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.png">

    <title>Citas de vendedor</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/bg.css">
    <script src="https://kit.fontawesome.com/e07784388c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/jspdf.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="index.html">
                <img src="../img/logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
                CitiChrysler  
            </a>
            <a href="registro_vendedor.html" id="empresa" class="btn text-light text-opacity-50 fs-5 ">Registrar Vendedores<i class="fa-solid fa-briefcase"></i></a>
            <a href="consulta_vendedores.html" id="competencia" class="btn text-light text-opacity-50 fs-5 ">Consulta Vendedores<i class="fa-solid fa-clipboard-list"></i></a>
            <a href="mis_datos.html" id="competencia" class="btn text-light text-opacity-50 fs-5 ">Mis Datos<i class="fa-solid fa-clipboard-list"></i></a>
            <a href="#" id="empleados" class="btn text-light text-opacity-50 fs-5 ">Cerrar sesión<i class="fa-solid fa-person-walking-luggage"></i></a>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Citas asignadas del vendedor  <button id="generarReporte" class="btn btn-danger"><i class="fas fa-file-pdf"></i> Generar reporte</button>
        </h2>
        
        
        <!-- Agregar el filtro de búsqueda por prioridad -->
        <div class="mb-3 filter-container">
            <label for="filtroPrioridad" class="form-label">Buscar citas por Prioridad:</label>
            <select class="form-select" id="filtroPrioridad" onchange="filtrarCitas()">
                <option value="">Todos</option>
                <option value="Alta">Alta</option>
                <option value="Media">Media</option>
                <option value="Baja">Baja</option>
            </select>
        </div>
        <!-- Fin del filtro de búsqueda por prioridad -->

        <div id="citasContainer" class="row">
            <!-- Aquí se cargarán las citas -->
        </div>
    </div>
    <script>
 // Función para formatear la fecha en formato legible
 function formatDate(dateString) {
            const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', timeZone: 'America/Mexico_City' };
            return new Date(dateString).toLocaleString('es-MX', options);
        }


        // Obtener el ID del vendedor de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const vendedorId = urlParams.get('id');
    
        // Verificar si vendedorId es null o undefined antes de hacer la solicitud
        if (vendedorId) {
            // Hacer una solicitud al servidor para obtener las citas del vendedor con el ID especificado
            fetch(`/consultar_citas_por_vendedor?id=${vendedorId}`)
                .then(response => response.json())
                .then(data => {
                    // Iterar sobre los datos y crear elementos HTML para cada cita
                    data.forEach(cita => {
                        const citaCard = document.createElement('div');
                        citaCard.classList.add('card', 'col-sm-4', 'm-6', 'p-1');
                        citaCard.innerHTML = `
                            <div class="card-body">
                                <h5 class="card-title">${cita.Nombre_Usuario}</h5>
                                <p class="card-text"><b>Vendedor asignado:</b> ${cita.Nombre_Vendedor}</p>
                                <p class="card-text"><b>Asunto:</b> ${cita.Asunto}</p>
                                <p class="card-text prioridad-cita"><b>Estado:</b> ${cita.Estado_Cita}</p>
                                <p class="card-text prioridad-cita"><b>Prioridad:</b> ${cita.Pioridad_Cita}</p>
                                <p class="card-text"><b>Fecha de Cita:</b> ${formatDate(cita.Fecha_Cita)}</p>
                            </div>
                        `;
    
                        document.getElementById('citasContainer').appendChild(citaCard);
                    });
                })
                .catch(error => {
                    console.error('Error al obtener datos de citas:', error);
                });
        } else {
            console.error('ID de vendedor no encontrado en la URL');
        }

        // Función para filtrar citas por prioridad
function filtrarCitas() {
    const filtroPrioridad = document.getElementById('filtroPrioridad').value;
    const citas = document.getElementById('citasContainer').querySelectorAll('.card');

    citas.forEach(cita => {
        const prioridadCitaElements = cita.querySelectorAll('.prioridad-cita'); // Buscar todos los elementos con la clase .prioridad-cita
        const prioridadCita = prioridadCitaElements[prioridadCitaElements.length - 1].innerText.split(':')[1].trim(); // Obtener la última prioridad de cita encontrada

        if (filtroPrioridad === '' || prioridadCita === filtroPrioridad) {
            cita.style.display = 'block';
        } else {
            cita.style.display = 'none';
        }
    });
}


        // Manejar el clic en el botón "Cerrar sesión"
        document.getElementById('empleados').addEventListener('click', function(event) {
            event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
            // Lógica para cerrar sesión
            fetch('/logout', {
                method: 'POST'
            })
            .then(response => {
                if (response.redirected) {
                    // Si la respuesta redirecciona, redirigir al usuario a la página principal
                    window.location.href = response.url;
                } else {
                    console.error('Error al cerrar sesión:', response.statusText);
                    // Manejar el error al cerrar sesión
                }
            })
            .catch(error => console.error('Error al cerrar sesión:', error));
        });

     // Manejar el clic en el botón "Generar reporte"
document.getElementById('generarReporte').addEventListener('click', function() {
    // Crear un nuevo documento PDF
    var doc = new jsPDF();
    
    // Función para agregar encabezado y pie de página
    function addHeaderFooter() {
        // Agregar encabezado con imagen
        var img = new Image();
        img.src = '../img/logo.png'; 
        doc.addImage(img, 'PNG', 10, 5, 15, 15); 
        
        // Alinear el texto en el centro del encabezado
        doc.setFontSize(12);
        var textoEncabezado = "Reporte General";
        var textoWidth = doc.getStringUnitWidth(textoEncabezado) * doc.internal.getFontSize() / doc.internal.scaleFactor;
        var textoX = (doc.internal.pageSize.width - textoWidth) / 2;
        doc.text(textoEncabezado, textoX, 20);
        
        // Agregar línea horizontal debajo del texto del encabezado
        doc.setLineWidth(0.5);
        doc.line(10, 22, doc.internal.pageSize.width - 10, 22); // Ajusta las coordenadas según tu diseño

        // Agregar pie de página con número de página
        var totalPages = doc.internal.getNumberOfPages();
        for (var i = 1; i <= totalPages; i++) {
            doc.setPage(i);
            doc.text('Página ' + i + ' de ' + totalPages, doc.internal.pageSize.width - 50, doc.internal.pageSize.height - 10);
        }
    }
    
    // Obtener todas las tarjetas de citas
    var citas = document.querySelectorAll('.card');

    // Posición inicial para escribir en el PDF
    var y = 50; // Incremento la posición inicial para que no se solape con el encabezado

    // Título del reporte
    doc.setFontSize(16);
    doc.setFontStyle('bold'); 
    var textoTitulo = "Reporte de Citas";
    var tituloWidth = doc.getStringUnitWidth(textoTitulo) * doc.internal.getFontSize() / doc.internal.scaleFactor;
    var tituloX = (doc.internal.pageSize.width - tituloWidth) / 2;
    doc.text(textoTitulo, tituloX, 33); // Incremento el valor de y para dejar espacio para el encabezado
    doc.setFontStyle('normal'); // Restaurar el estilo de fuente a la normalidad

    // Agregar encabezado y pie de página
    addHeaderFooter();

    // Iterar sobre cada tarjeta de cita
    citas.forEach(function(cita) {
        // Obtener el texto de la cita y limpiar espacios en blanco al inicio y al final
        var textoCita = cita.innerText.trim();
        // Agregar el texto de la cita al documento PDF
        doc.setFontSize(12);
        doc.text(20, y, textoCita); // Aumenta el margen izquierdo del texto
        // Aumentar la posición Y para la próxima cita
        y += 65;
    });

    // Obtener la cadena de datos URI del PDF
    var pdfDataUri = doc.output('datauristring');

    // Mostrar el PDF en el navegador
    var iframe = "<iframe width='100%' height='100%' src='" + pdfDataUri + "'></iframe>"
    var win = window.open();
    win.document.write(iframe);
});


</script>
</body>
</html>

