<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedores</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/bg.css">
    <script src="https://kit.fontawesome.com/e07784388c.js" crossorigin="anonymous"></script>


    <style>
        /* Define el tamaño máximo para todas las imágenes */
        .custom-img {
            max-width: 200px; /* Ajusta el valor según el tamaño máximo deseado */
            height: auto; /* Mantiene la proporción de aspecto */
            display: block; /* Permite la alineación vertical */
            margin: 0 auto; /* Centra horizontalmente */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="index.html">
                <img src="../img/logo.jpg" alt="" width="70" class="d-inline-block align-text-top">
                CitiChrysler  
            </a>
            <a href="registro_vendedor.html" id="empresa" class="btn text-light text-opacity-50 fs-5 ">Registrar Vendedores<i class="fa-solid fa-briefcase"></i></a>
            <a href="consulta_vendedores.html" id="competencia" class="btn text-light text-opacity-50 fs-5 ">Consulta Vendedores<i class="fa-solid fa-clipboard-list"></i></a>
            <a href="mis_datos.html" id="competencia" class="btn text-light text-opacity-50 fs-5 ">Mis Datos<i class="fa-solid fa-clipboard-list"></i></a>
            <a href="#" id="empleados" class="btn text-light text-opacity-50 fs-5 ">Cerrar sesión<i class="fa-solid fa-person-walking-luggage"></i></a>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Lista de Vendedores</h2>
        <div id="vendedoresContainer" class="row">
        </div>
    </div>

    <script>
        // Hacer una solicitud al servidor para obtener los datos de los vendedores
        fetch('/consultar_vendedores')
            .then(response => response.json())
            .then(data => {
                // Iterar sobre los datos y crear elementos HTML para cada vendedor
                data.forEach(vendedor => {
                    const vendedorCard = document.createElement('div');
                    vendedorCard.classList.add('card', 'col-sm-4', 'm-2', 'p-1');
                    vendedorCard.innerHTML = `
                    <img src="data:image/jpeg;base64, ${vendedor.Foto}" class="card-img-top custom-img" alt="...">

                        <div class="card-body">
                            <h5 class="card-title">${vendedor.Nombre} ${vendedor.A_Paterno} ${vendedor.A_Materno}</h5>
                            <p class="card-text"><b>Email:</b> ${vendedor.Email}</p>
                            <p class="card-text"><b>Teléfono:</b> ${vendedor.Telefono}</p>
                            <p class="card-text"><b>Nombre de Usuario:</b> ${vendedor.Username}</p>
                            <p class="card-text"><b>Fecha_Alta:</b> ${vendedor.Fecha_Alta}</p>
                            <hr>
                            <button type="button" class="btn btn-success citi-vendedor" data-vendedor-id="${vendedor.ID_Vendedor}">Ver citas</button>
                            <button type="button" class="btn btn-warning edit-vendedor" data-vendedor-id="${vendedor.ID_Vendedor}">Editar Vendedor</button>
                            <button type="button" class="btn btn-danger delete-vendedor" data-vendedor-id="${vendedor.ID_Vendedor}" data-vendedor-name="${vendedor.Nombre}">Eliminar Vendedor</button>
                            <!-- Puedes agregar más información según tu diseño -->
                        </div>
                    `;
    
                    // Verificar si el vendedor tiene una foto y establecerla como fuente de la imagen
                    if (vendedor.Foto) {
                        vendedorCard.querySelector('.card-img-top').src = `data:image/jpeg;base64, ${vendedor.Foto}`;
                    }
    
                    document.getElementById('vendedoresContainer').appendChild(vendedorCard);
                });
            })
            .catch(error => {
                console.error('Error al obtener datos de vendedores:', error);
            });

 // Agregar evento de clic para ver citas de vendedores
 document.addEventListener('click', function (event) {
    if (event.target.classList.contains('citi-vendedor')) {
        const vendedorId = event.target.getAttribute('data-vendedor-id');
        window.location.href = `cita_vendedor.html?id=${vendedorId}`; // Pasar el ID del vendedor en la URL
    }
});


           // Agregar evento de clic para editar vendedor
        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('edit-vendedor')) {
                const vendedorId = event.target.getAttribute('data-vendedor-id');
                window.location.href = `actualizar_vendedor.html?id=${vendedorId}`;
            }
        });

        // Agregar evento de clic para eliminar vendedor
document.addEventListener('click', function (event) {
    if (event.target.classList.contains('delete-vendedor')) {
        const vendedorId = event.target.getAttribute('data-vendedor-id');
        const vendedorName = event.target.getAttribute('data-vendedor-name');
        const confirmed = confirm(`¿Estás seguro de eliminar al vendedor ${vendedorName}?`);
        if (confirmed) {
            fetch(`/eliminar_vendedor/${vendedorId}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                // Aquí puedes actualizar la interfaz después de eliminar el vendedor
                // Eliminar el elemento HTML del vendedor eliminado
                const deletedVendedor = document.querySelector(`[data-vendedor-id="${vendedorId}"]`).closest('.card');
                deletedVendedor.remove();
            })
            .catch(error => {
                console.error('Error al eliminar vendedor:', error);
            });
        }
    }
});

    </script>
</body>
</html>
