<!DOCTYPE html>
<html lang="en">
<head>
    
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<scripy src="../js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" href="../css/bg.css">


 <script src="https://kit.fontawesome.com/e07784388c.js" crossorigin="anonymous"></script>

<!-- Favicon - FIS -->
<link rel="shortcut icon" href="img/logo.png">
  <title>Administrador</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="index.html">
                <img src="../img/logo.jpg" alt="" width="70" class="d-inline-block align-text-top">
                CitiChrysler  
            </a>
            <a href="registro_vendedor.html" id="empresa" class="btn text-light text-opacity-50 fs-5 ">Registrar Vendedores<i class="fa-solid fa-briefcase"></i></a>
          <a href="consulta_vendedores.html" id="competencia" class="btn text-light text-opacity-50 fs-5 ">Consulta Vendedores<i class="fa-solid fa-clipboard-list"></i></a>
          <a href="#" id="empleados" class="btn text-light text-opacity-50 fs-5 ">Cerrar sesión<i class="fa-solid fa-person-walking-luggage"></i></a>
      
            <form  style="color: #fff">
              
              
              </form>
      
        </div>
      </nav>
    
</body>
</html>
