<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/bg.css">
    <link rel="stylesheet" href="../css/table.css">
    <style>
        /* Define el tamaño máximo para todas las imágenes */
        .custom-img {
            max-width: 200px; /* Ajusta el valor según el tamaño máximo deseado */
            height: auto; /* Mantiene la proporción de aspecto */
            display: block; /* Permite la alineación vertical */
            margin: 0 auto; /* Centra horizontalmente */
        } 
        /* Estilos para el calendario */
        #calendar-container {
            position: fixed;
            top: 230px; /* Ajusta esta posición según sea necesario */
            right: 20px; /* Ajusta esta posición según sea necesario */
            width: 420px; /* Ajusta este tamaño según sea necesario */
            height: 520px; /* Ajusta este tamaño según sea necesario */
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        }
        .calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 1px;
        }
        .calendar-day {
            padding: 5px;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 25px; /* Ajusta este tamaño según sea necesario */
        }
        .calendar-header {
            font-weight: bold;
            background-color: #f2f2f2;
            text-align: center;
            padding: 5px;
            margin-bottom: 5px;
            font-size: 18px;
        }
        .current-day {
            background-color: #4caf50;
            color: #fff;
        }
        .has-appointment {
            background-color: #ff0000;
            color: #fff;
        }
    </style>
    <script src="https://kit.fontawesome.com/e07784388c.js" crossorigin="anonymous"></script>
    <!-- Favicon - FIS -->
    <link rel="shortcut icon" href="../img/logo.png">
    <title>Control de Citas</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="index.html">
                <img src="../img/logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
                CitiChrysler  
            </a>
            <a href="Control_Citas.html" id="empresa" class="btn text-light text-opacity-50 fs-5">Control de Citas<i class="fa-solid fa-briefcase"></i></a>
            <a href="mis_datos.html" id="competencia" class="btn text-light text-opacity-50 fs-5">Mis datos<i class="fa-solid fa-clipboard-list"></i></a>
            <a href="#" id="empleados" class="btn text-light text-opacity-50 fs-5">Cerrar sesión<i class="fa-solid fa-person-walking-luggage"></i></a>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Mis Citas</h2>
        <!-- Agregar el filtro de búsqueda por estado -->
        <div class="mb-3" style="width: 200px; margin-bottom: 20px;">
            <label for="filtroEstado" class="form-label">Filtrar por Estado de la cita:</label>
            <select class="form-select" id="filtroEstado" onchange="filtrarCitas()">
                <option value="">Todos</option>
                <option value="En espera">En espera</option>
                <option value="Aceptada">Aceptada</option>
                <option value="Rechazada">Rechazada</option>
                <option value="Finalizada">Finalizada</option>
            </select>
        </div>
        <!-- Fin del filtro de búsqueda por estado -->

        <!-- Agregar el filtro de búsqueda por prioridad -->
        <div class="mb-3" style="width: 200px; margin-bottom: 20px;">
            <label for="filtroPrioridad" class="form-label">Filtrar por Prioridad de la cita:</label>
            <select class="form-select" id="filtroPrioridad" onchange="filtrarCitas()">
                <option value="">Todos</option>
                <option value="Alta">Alta</option>
                <option value="Media">Media</option>
                <option value="Baja">Baja</option>
            </select>
        </div>
        <!-- Fin del filtro de búsqueda por prioridad -->
        
        <div id="CitasContainer" class="row">
            <!-- Aquí se cargarán las citas -->
        </div>
    </div>

    <div id="calendar-container">
        <div id="calendar"></div>
    </div>

    <script>
        // Función para formatear la fecha en formato legible
        function formatDate(dateString) {
            const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', timeZone: 'America/Mexico_City' };
            return new Date(dateString).toLocaleString('es-MX', options);
        }

        // Hacer una solicitud al servidor para obtener las citas del vendedor actualmente autenticado
        fetch('/consultar_citas_vendedor')
            .then(response => response.json())
            .then(data => {
                mostrarCitas(data); // Mostrar todas las citas al cargar la página
                createCalendar(new Date().getMonth(), new Date().getFullYear(), data); // Generar el calendario
            })
            .catch(error => {
                console.error('Error al obtener datos de citas:', error);
            });

        // Función para mostrar citas filtradas por estado y prioridad
        function filtrarCitas() {
            const filtroEstado = document.getElementById('filtroEstado').value;
            const filtroPrioridad = document.getElementById('filtroPrioridad').value;
            fetch('/consultar_citas_vendedor')
                .then(response => response.json())
                .then(data => {
                    let citasFiltradas = data;
                    // Filtrar por estado
                    if (filtroEstado) {
                        citasFiltradas = citasFiltradas.filter(cita => cita.Estado_Cita === filtroEstado);
                    }
                    // Filtrar por prioridad
                    if (filtroPrioridad) {
                        citasFiltradas = citasFiltradas.filter(cita => cita.Pioridad_Cita === filtroPrioridad);
                    }
                    mostrarCitas(citasFiltradas);
                    createCalendar(new Date().getMonth(), new Date().getFullYear(), citasFiltradas);
                })
                .catch(error => {
                    console.error('Error al obtener datos de citas:', error);
                });
        }

        // Función para mostrar las citas en el contenedor correspondiente
        function mostrarCitas(citas) {
            const citasContainer = document.getElementById('CitasContainer');
            citasContainer.innerHTML = '';
            citas.forEach(cita => {
                const citaCard = document.createElement('div');
                citaCard.id = `cita_${cita.ID_Cita}`; // Agregamos un ID único para cada tarjeta de cita
                citaCard.classList.add('card', 'col-sm-4', 'm-2', 'p-1');
                citaCard.innerHTML = `
                    <div class="card-body">
                        <h5 class="card-title">${cita.Nombre_Usuario}  </h5>
                        <p class="card-text"><b>Asunto:</b> ${cita.Asunto}</p>
                        <p class="card-text"><b>Prioridad:</b> ${cita.Pioridad_Cita}</p>
                        <p class="card-text"><b>Estado:</b> ${cita.Estado_Cita}</p>
                        <p class="card-text"><b>Asistencia:</b> ${cita.Asistencia_Cita}</p>
                        <p class="card-text"><b>Fecha de Cita:</b> ${formatDate(cita.Fecha_Cita)}</p>
                        <div class="dropdown">
                            <button onclick="mostrarMenuEstado(${cita.ID_Cita})" class="btn btn-secondary botonDesplegable">Cambiar Estado</button>
                            <div id="menuEstado_${cita.ID_Cita}" class="dropdown-menu menuDesplegable">
                                <a class="dropdown-item" href="#" onclick="cambiarEstado(${cita.ID_Cita}, 1)">En espera</a>
                                <a class="dropdown-item" href="#" onclick="cambiarEstado(${cita.ID_Cita}, 2)">Aceptada</a>
                                <a class="dropdown-item" href="#" onclick="cambiarEstado(${cita.ID_Cita}, 3)">Rechazada</a>
                                <a class="dropdown-item" href="#" onclick="cambiarEstado(${cita.ID_Cita}, 4)">Finalizada</a>
                            </div>
                        </div>
                        <hr>
                        <div class="dropdown">
                            <button onclick="mostrarMenuAsistencia(${cita.ID_Cita})" class="btn btn-secondary botonDesplegable">Cambiar Asistencia</button>
                            <div id="menuAsistencia_${cita.ID_Cita}" class="dropdown-menu menuDesplegable">
                                <a class="dropdown-item" href="#" onclick="cambiarAsistencia(${cita.ID_Cita}, 1)">Sí</a>
                                <a class="dropdown-item" href="#" onclick="cambiarAsistencia(${cita.ID_Cita}, 2)">No</a>
                                <a class="dropdown-item" href="#" onclick="cambiarAsistencia(${cita.ID_Cita}, 3)">Reprogramar</a>
                                <a class="dropdown-item" href="#" onclick="cambiarAsistencia(${cita.ID_Cita}, 4)">Pendiente</a>
                            </div>
                        </div>
                        <hr>
                        <button type="button" class="btn btn-primary" onclick="mostrarDetallesCita(${cita.ID_Cita})">Detalles de cita</button>
                        <button type="button" class="btn btn-warning" onclick="modificarFechaCita(${cita.ID_Cita})">Fecha de cita</button>
                        <button type="button" class="btn btn-danger" onclick="dejarCita(${cita.ID_Cita})">Dejar cita</button>
                    </div>`;
                citasContainer.appendChild(citaCard);
            });
        }

        // Función para mostrar el menú desplegable de cambio de estado de la cita
        function mostrarMenuEstado(idCita) {
            document.getElementById(`menuEstado_${idCita}`).classList.toggle("show");
        }

        // Función para mostrar el menú desplegable de cambio de asistencia de la cita
        function mostrarMenuAsistencia(idCita) {
            document.getElementById(`menuAsistencia_${idCita}`).classList.toggle("show");
        }

        // Función para dejar cita
        function dejarCita(idCita) {
            // Confirmar si el usuario realmente quiere dejar la cita
            if (confirm("¿Estás seguro de que deseas dejar esta cita?")) {
                // Hacer una solicitud al servidor para dejar la cita
                fetch(`/Vendedor/dejar_cita`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ idCita: idCita })
                })
                .then(response => {
                    if (response.ok) {
                        alert("Cita dejada exitosamente");
                        // Recargar la página después de dejar la cita
                        location.reload();
                    } else {
                        alert("Hubo un error al dejar la cita. Por favor, inténtalo de nuevo más tarde.");
                    }
                })
                .catch(error => {
                    console.error('Error al dejar la cita:', error);
                    alert("Hubo un error al dejar la cita. Por favor, inténtalo de nuevo más tarde.");
                });
            }
        }

        // Función para cambiar el estado de la cita
        function cambiarEstado(idCita, idEstado) {
            fetch(`/cambiar_estado_cita/${idCita}/${idEstado}`, {
                method: 'PUT',
            })
            .then(response => {
                if (response.ok) {
                    alert("Estado de la cita cambiado exitosamente");
                    // Recargar la página después de cambiar el estado de la cita
                    location.reload();
                } else {
                    alert("Hubo un error al cambiar el estado de la cita. Por favor, inténtalo de nuevo más tarde.");
                }
            })
            .catch(error => {
                console.error('Error al cambiar el estado de la cita:', error);
                alert("Hubo un error al cambiar el estado de la cita. Por favor, inténtalo de nuevo más tarde.");
            });
        }

        // Función para cambiar la asistencia de la cita
        function cambiarAsistencia(idCita, idAsistencia) {
            fetch(`/cambiar_asistencia_cita/${idCita}/${idAsistencia}`, {
                method: 'PUT',
            })
            .then(response => {
                if (response.ok) {
                    alert("Asistencia de la cita cambiada exitosamente");
                    // Recargar la página después de cambiar la asistencia de la cita
                    location.reload();
                } else {
                    alert("Hubo un error al cambiar la asistencia de la cita. Por favor, inténtalo de nuevo más tarde.");
                }
            })
            .catch(error => {
                console.error('Error al cambiar la asistencia de la cita:', error);
                alert("Hubo un error al cambiar la asistencia de la cita. Por favor, inténtalo de nuevo más tarde.");
            });
        }

        // Función para modificar la fecha de la cita
        function modificarFechaCita(idCita) {
            if (confirm("¿Seguro que quieres modificar la fecha? El cambio se le informará al cliente.")) {
                const formulario = `
                    <form action="/modificar_fecha_cita/${idCita}" method="POST" onsubmit="return enviarFormulario(${idCita})">
                        <label for="nuevaFecha">Nueva Fecha de Cita:</label>
                        <input type="datetime-local" id="nuevaFecha" name="nuevaFecha" min="${getMinDate()}" required>
                        <button class="btn btn-success" type="submit">Modificar</button>
                    </form>
                `;
                const citaCard = document.getElementById(`cita_${idCita}`);
                const formularioDiv = document.createElement('div');
                formularioDiv.innerHTML = formulario;
                citaCard.appendChild(formularioDiv);
            }
        }

        // Función para obtener la fecha mínima permitida para la cita (un día después de hoy)
        function getMinDate() {
            const fecha = new Date();
            fecha.setDate(fecha.getDate() + 1); // Suma un día
            return fecha.toISOString().slice(0,16);
        }

        // Función para enviar el formulario de modificación de fecha de la cita
        function enviarFormulario(idCita) {
            const nuevaFecha = document.getElementById('nuevaFecha').value;
            // Realizar aquí la lógica para enviar el formulario al servidor y actualizar la fecha de la cita
            // ...

            // Simulación de éxito
            alert("Fecha de la cita modificada exitosamente");
            location.reload(); // Recargar la página después de modificar la fecha de la cita
            return false; // Evitar que el formulario se envíe realmente
        }

        // Función para mostrar detalles de la cita
        function mostrarDetallesCita(idCita) {
            // Aquí puedes implementar la lógica para mostrar los detalles de la cita en un modal o en una nueva página
            alert("Mostrar detalles de la cita con ID: " + idCita);
        }

        // Función para crear el calendario
        function createCalendar(month, year, citas) {
            const weekdays = ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'];

            const calendarContainer = document.getElementById('calendar');
            const firstDayOfMonth = new Date(year, month, 1);
            const lastDayOfMonth = new Date(year, month + 1, 0);
            const startingDay = firstDayOfMonth.getDay();
            const daysInMonth = lastDayOfMonth.getDate();

            calendarContainer.innerHTML = '';
            calendarContainer.insertAdjacentHTML('beforeend', `
                <div class="calendar-header">${firstDayOfMonth.toLocaleDateString('es-ES', { month: 'long', year: 'numeric' })}</div>
                <div class="calendar">
                    ${weekdays.map(day => `<div class="calendar-day">${day}</div>`).join('')}
                    ${Array(startingDay)
                        .fill('<div class="calendar-day"></div>')
                        .join('')}
                    ${Array.from({ length: daysInMonth }, (_, index) => {
                        const day = index + 1;
                        const date = new Date(year, month, day);
                        const citasEnFecha = citas.filter(cita => {
                            const citaDate = new Date(cita.Fecha_Cita);
                            return citaDate.getFullYear() === year && citaDate.getMonth() === month && citaDate.getDate() === day;
                        });
                        const hasAppointments = citasEnFecha.length > 0;
                        const hasCurrentDate = date.toDateString() === new Date().toDateString();

                        return `
                            <div class="calendar-day ${hasAppointments ? 'has-appointment' : ''} ${hasCurrentDate ? 'current-day' : ''}">
                                ${day}
                                ${hasAppointments ? `<div class="appointment-count">${citasEnFecha.length}</div>` : ''}
                            </div>
                        `;
                    }).join('')}
                </div>
            `);
        }
    </script>
</body>
</html>
