<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/bg.css">
    <link rel="stylesheet" href="../css/table.css">
    <style>
        /* Define el tamaño máximo para todas las imágenes */
        .custom-img {
            max-width: 200px; /* Ajusta el valor según el tamaño máximo deseado */
            height: auto; /* Mantiene la proporción de aspecto */
            display: block; /* Permite la alineación vertical */
            margin: 0 auto; /* Centra horizontalmente */
        } 
    </style>
    <script src="https://kit.fontawesome.com/e07784388c.js" crossorigin="anonymous"></script>
    <!-- Favicon - FIS -->
    <link rel="shortcut icon" href="img/logo.png">
    <title>Control de Citas</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="index.html">
                <img src="../img/logo.jpg" alt="" width="70" class="d-inline-block align-text-top">
                CitiChrysler  
            </a>
            <a href="Control_Citas.html" id="empresa" class="btn text-light text-opacity-50 fs-5">Control de Citas<i class="fa-solid fa-briefcase"></i></a>
            <a href="mis_datos.html" id="competencia" class="btn text-light text-opacity-50 fs-5">Mis datos<i class="fa-solid fa-clipboard-list"></i></a>
            <a href="#" id="empleados" class="btn text-light text-opacity-50 fs-5">Cerrar sesión<i class="fa-solid fa-person-walking-luggage"></i></a>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Mis Citas</h2>
        <div id="CitasContainer" class="row">
            <!-- Aquí se cargarán las citas -->
        </div>
    </div>

    <script>
        // Hacer una solicitud al servidor para obtener las citas del vendedor actualmente autenticado
        fetch('/consultar_citas_vendedor')
            .then(response => response.json())
            .then(data => {
                // Iterar sobre los datos y crear elementos HTML para cada cita
                data.forEach(cita => {
                    const citaCard = document.createElement('div');
                    citaCard.classList.add('card', 'col-sm-4', 'm-2', 'p-1');
                    citaCard.innerHTML = `
                    <div class="card-body">
                            <h5 class="card-title">${cita.Nombre_Usuario}  </h5>
                            <p class="card-text"><b>Asunto:</b> ${cita.Asunto}</p>
                            <p class="card-text"><b>Prioridad:</b> ${cita.Pioridad_Cita}</p>
                            <p class="card-text"><b>Estado:</b> ${cita.Estado_Cita}</p>
                            <p class="card-text"><b>Fecha de Cita:</b> ${cita.Fecha_Cita}</p>
                            <div class="dropdown">
                                <button onclick="mostrarMenuDesplegable(${cita.ID_Cita})" class="btn btn-secondary botonDesplegable">Cambiar Estado</button>
                                <div id="menuDesplegable_${cita.ID_Cita}" class="dropdown-menu menuDesplegable">
                                    <a class="dropdown-item" href="#" onclick="cambiarEstado(${cita.ID_Cita}, 1)">En espera</a>
                                    <a class="dropdown-item" href="#" onclick="cambiarEstado(${cita.ID_Cita}, 2)">Aceptada</a>
                                    <a class="dropdown-item" href="#" onclick="cambiarEstado(${cita.ID_Cita}, 3)">Rechazada</a>
                                    <a class="dropdown-item" href="#" onclick="cambiarEstado(${cita.ID_Cita}, 4)">Finalizada</a>
                                </div>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-danger" onclick="dejarCita(${cita.ID_Cita})">Dejar cita</button>
                    </div>`;

                    document.getElementById('CitasContainer').appendChild(citaCard);
                });
            })
            .catch(error => {
                console.error('Error al obtener datos de citas:', error);
            });

        // Función para dejar cita
        function dejarCita(idCita) {
            // Confirmar si el usuario realmente quiere dejar la cita
            if (confirm("¿Estás seguro de que deseas dejar esta cita?")) {
                // Hacer una solicitud al servidor para dejar la cita
                fetch(`/Vendedor/dejar_cita`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ idCita: idCita })
                })
                .then(response => {
                    if (response.ok) {
                        alert("Cita dejada exitosamente");
                        // Recargar la página después de dejar la cita
                        location.reload();
                    } else {
                        alert("Hubo un error al dejar la cita. Por favor, inténtalo de nuevo más tarde.");
                    }
                })
                .catch(error => {
                    console.error('Error al dejar la cita:', error);
                    alert("Hubo un error al dejar la cita. Por favor, inténtalo de nuevo más tarde.");
                });
            }
        }

        // Función para mostrar el menú desplegable de cambio de estado de la cita
        function mostrarMenuDesplegable(idCita) {
            document.getElementById(`menuDesplegable_${idCita}`).classList.toggle("show");
        }

        // Cierra el menú desplegable si el usuario hace clic fuera de él
        window.onclick = function(event) {
            if (!event.target.matches('.botonDesplegable')) {
                var dropdowns = document.getElementsByClassName("menuDesplegable");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        // Función para cambiar el estado de la cita
        function cambiarEstado(idCita, idEstado) {
            fetch(`/cambiar_estado_cita/${idCita}/${idEstado}`, {
                method: 'PUT',
            })
            .then(response => {
                if (response.ok) {
                    alert("Estado de la cita cambiado exitosamente");
                    // Recargar la página después de cambiar el estado de la cita
                    location.reload();
                } else {
                    alert("Hubo un error al cambiar el estado de la cita. Por favor, inténtalo de nuevo más tarde.");
                }
            })
            .catch(error => {
                console.error('Error al cambiar el estado de la cita:', error);
                alert("Hubo un error al cambiar el estado de la cita. Por favor, inténtalo de nuevo más tarde.");
            });
        }
    </script>
</body>
</html>
